<section class="journal section-format">
	<h2 class="section-title uppercase">Inhabitent Journal</h2>
	<div class="owl-carousel owl-theme">
		<div *ngFor = "let journal of journalEntries">
			<img class="journal-pic" src={{journal.image}}>
			<div class="journal-entry">
				<h4 class="light-grey-text">{{journal.date}} / {{journal.categories.count}} comments</h4>
				<h3 class="green-text uppercase">{{journal.title}}</h3>
				<button class= "read uppercase light-grey-text">Read Entry</button>
			</div>
		</div>
	</div>
</section>
