<section class="content-section shop-stuff">
	<h2 class="black-text font-novecento uppercase">Shop Stuff</h2>
     	<div class="shop-stuff-flex-container">
          <div class="shop-stuff-flex-child">
            <img class="shop-stuff-image" alt="Do Stuff" src="assets/images/product-type-icons/do.svg">
            <p class="product-text">Get back to nature with all the tools andoys you need to enjoy the great outdoors</p>
            <button class="product-button white-text uppercase font-novecento" type="button">Do Stuff</button>  
          </div>
          <div class="shop-stuff-flex-child">
            <img class="shop-stuff-image" alt="Eat Stuff" src="assets/images/product-type-icons/eat.svg">
            <p class="product-text">Nothing beats food cooked over a fire. We have all you need for good camping eats.</p>
            <button class="product-button white-text uppercase font-novecento" type="button">Eat Stuff</button>
          </div>
          <div class="shop-stuff-flex-child">
            <img class="shop-stuff-image" alt="Sleep Stuff" src="assets/images/product-type-icons/sleep.svg">
            <p class="product-text">Get a good night's rest in the wild in a home away from home that travels well.</p>
            <button class="product-button white-text uppercase font-novecento" type="button">Sleep Stuff</button>  
          </div>
          <div class="shop-stuff-flex-child">
            <img class="shop-stuff-image" alt="Wear Stuff" src="assets/images/product-type-icons/wear.svg">
            <p class="product-text">From flannel shirts to toques, look the part whil roughing it in the great outdoors.</p>
            <button class="product-button white-text uppercase font-novecento" type="button">Wear Stuff</button>
          </div>
</div>
</section>